<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AssignmentOne">
    <test name="UITest" parallel="classes" thread-count="2">
        <classes>
            <class name="productstests.TestCase_01"/>
            <class name="productstests.TestCase_02"/>
        </classes>
    </test>
</suite>